.header_image {
  min-width: 100%;
  min-height: 100%;
  height: 744px;
  object-fit: cover;
}
.card {
  max-width: 20%;
  min-width: 20%;
  position: absolute;
  margin-top: -7%;
  /* padding-left: 0%; */
  margin-left: 4%;
  /* object-fit: none; */
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.4);

}
.Footer_image {
  min-width: 100%;
  min-height: 100%;
  height: 744px;
  object-fit: cover;
  padding-top:10%
}
.navbar-fixed {
  position: absolute;
  height: 56px;
  z-index: 997;
  width: 100%
}
.z-depth-0 {
  background-color: transparent;
}